.zone-header {
  background: url(../images/header-bg-narrow.png) no-repeat center top;
}

.block-main-menu .block-inner {
  background-color: #50195d;
  padding-top: 44px;
}

.ding_nodelist-horizontal_accordion .ding_nodelist-items .item .image img {
  max-width: 380px !important;
}
