.zone-header {
  width: 940px !important;
}

.wide-panel .ding_nodelist-slider .legend .ding_nodelist-title {
  margin-top: 0;
}

/* Header user box styles */
.block-user-login .block-inner .content,
.block-system-user-menu,
.block-ding-user-frontend-ding-user-loan-number,
.block-system-user-menu {
  display: block !important;
}

.region-user-second .region-user-second-inner {
  margin-top: -95px;
}

.block-ding-user-frontend-ding-user-loan-number {
  top: -65px;
}

.block-system-user-menu {
  top: 26px;
}

.block-ding-user-frontend-ding-user-loan-number > .block-inner > .content {
  padding-bottom: 13px;
}

.block-ding-user-frontend-ding-username h2,
.block-user-login .block-title {
  padding-left: 10px;
}

.block-system-user-menu > .block-inner > .content {
  padding-left: 0;
  padding-right: 0;
}

.block-user-login .block-inner .content {
  top: 35px;
}

.block-user-login form .form-actions {
  padding-top: 0;
}

.block-user-login form .form-item {
  margin-bottom: 5px;
}

.block-user-login .block-title {
  font: 14px 'Soho Gothic W01 Regular', Helvetica, Arial, sans-serif;
  padding-top: 39px;
}

.block-system-user-menu.even {
  top: -60px;
}

.block-system-user-menu > .block-inner > .content,
.block-user-login .block-inner .content,
.block-system-user-menu,
.block-ding-user-frontend-ding-user-loan-number {
  background: transparent;
}

.block-ding-user-frontend-ding-username h2,
.block-user-login .block-title {
  background-image: none;
}

.block-ding-user-frontend-ding-user-loan-number,
.block-system-user-menu {
  width: 150px;
}

.block-ding-user-frontend-ding-username h2 span {
  line-height: 13px;
}

.block-ding-user-frontend-ding-user-loan-number > .block-inner > .content,
.block-system-user-menu > .block-inner > .content,
.block-user-login form .form-item {
  margin-left: 0;
  margin-right: 0;
}

.block-ding-user-frontend-ding-username h2,
.block-user-login .block-title {
  padding-left: 0;
}

.block-user-login form .form-actions {
  margin: 0;
  padding: 0;
}

.block-ding-user-frontend-ding-user-loan-number,
.block-system-user-menu {
  margin-right: 0;
}

.block-ding-user-frontend-ding-username h2 {
  padding-top: 10px;
}
