.zone-header {
  width: 1180px !important;
}

.block-ding-user-frontend-ding-user-loan-number,
.block-system-user-menu,
.block-system-user-menu.even {
  width: 280px;
}

.block-system-user-menu.even {
  top: -60px;
}
