.section-header {
  position: relative;
  z-index: 20;
}

.section-content {
  position: relative;
  z-index: 19;
}

.zone-header-wrapper {
  position: relative;
  z-index: 20;
}

.zone-menu-wrapper {
  position: relative;
  z-index: 19;
}

.search-clear-button {
  right: 45px;
}
