.block-search-form .form-item-search-block-form > .ui-autocomplete-input {
  padding-top: 8px;
}

.block-search-form form .extendsearch-advanced input[type="text"] {
  padding-top: 0;
}

.block-search-form form .extendsearch-advanced .fieldset-wrapper {
  padding-right: 120px;
  width: 470px;
}

.block-search-form form .extendsearch-advanced span.fieldset-legend {
  right: 50px;
}

.block-search-form form .form-actions input {
  right: -65px;
}

.search-clear-button {
  right: 65px;
}

/* Search bar */
#search-block-form,
#search-block-form div {
  float: none;
}

#search-block-form .form-submit {
  text-align: right;
}

#search-block-form .extendsearch-advanced {
  height: auto;
}

#edit-advanced-search .fieldset-wrapper {
  position: relative;
  top: 0;
  padding: 10px 125px 0 0;
  left: 0;
}

.block-search-form form .extendsearch-advanced {
  height: auto;
}
