@font-face {
  font-family: 'PT Serif Caption';
  src: url('../fonts/PT_Serif-Caption-Web-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PT Sans Narrow';
  src: url('../fonts/PT_Sans-Narrow-Web-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PT Sans Narrow';
  src: url('../fonts/PT_Sans-Narrow-Web-Bold.ttf') format('truetype');
  font-weight: bold;
}


/* Slides, columns and rows. */
.column1 {
  width: 32.3%;
}
.column2 {
  width: 65.6%;
}
.row1 {
  height: 15.6%;
}
.row2 {
  height: 32.3%;
}
.row3 {
  height: 49%;
}
.row4 {
  height: 65.6%;
}
.row5 {
  height: 82.3%;
}
.row6 {
  height: 99%;
}
.section-container {
  overflow: hidden;
  float: left;
  margin: 0.5%;
}
.section-container.row1 {
  margin-left: 0;
  margin-right: 0;
}
.section-container.column3 {
  clear: both;
  float: none;
}

/* Spinner. */
.spinner {
  width: 16px;
  height: 16px;
  background: url(../img/spinner.gif);
}

/* Close button. */
.close-button-release {
  width: 30px;
  height: 30px;
  background: url(../img/closebox.png);
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
}
.close-button-onpress {
  width: 22px;
  height: 22px;
  background: url(../img/closebox.gif);
  position: absolute;
  right: -6px;
  top: -7px;
  cursor: pointer;
}

.sliders-div {
  background: url('../img/slides/screen-bg.jpg') no-repeat center;
  color: #252525;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 22px;
}

.header-ct-container {
  background: #803789;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#803789', endColorstr='#51185d');
  background: -webkit-gradient(linear, left top, left bottom, from(#803789), to(#51185d));
  background: -moz-linear-gradient(top,  #803789,  #51185d);
  position: relative;
}

#Header {
  background: url("/sites/all/themes/slagbib/images/slagbib-title.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  direction: ltr;
  display: block;
  height: 85px;
  margin: 0 7%;
  text-indent: -900px;
  padding-bottom: 25px;
}

#Header .text {
  color: #000000;
  font-family: 'PT Serif Caption', serif;
  font-size: 36px;
  line-height: 70px;
  margin: 5px 0 0 286px;
  text-shadow: #445977 0 2px 0;
}

.search {
  background: url('../img/slides/search-icon.png') no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  display: block;
  float: right;
  height: 110px;
  position: absolute;
  right: 0;
  top: 0;
  width: 113px;
}

.footer-ct-container {
  background: url('../img/slides/footer-bg.png') repeat-x 0 bottom;
  bottom: 0;
  height: 80px;
  left: 0;
  overflow: hidden;
  padding-top: 10px;
  position: absolute;
  width: 100%;
}
#Footer {
  background: url('../img/slides/clocks-icon.png') no-repeat 85px center;
  color: #ffffff;
  font-size: 30px;
  height: 60px;
  line-height: 60px;
  margin-top: 10px;
  padding-left: 160px;
}
#Footer #countdown-bg {
  background: #637179;
  border: 1px solid #e2e7ec;
  height: 8px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.count-down-bar {
  background-color: #ffffff;
  border: 1px solid #4a5660;
  bottom: 81px;
  left: 0;
  height: 6px;
  overflow: hidden;
  position: absolute;
  text-indent: -1000em;
  width: 100%;
}

.column3.row1 div.rss-ct-container,
.footer {
    background: url("../img/slides/footer-bg.png") repeat-x scroll 0 bottom transparent !important;
    bottom: 0;
    height: 80px;
    left: 0;
    overflow: hidden;
    padding-top: 10px;
    position: absolute;
    width: 100%;
}
.horizontal-ticker {
  padding-top: 20px;
  font-size: 30px;
    color: #ffffff;
}

.section-container.row4 {
  background-color: rgba(255, 255, 255, 1) !important;
  border: 1px solid #a1b0b9;
  -moz-box-shadow: 0 2px 5px 0 #999999;
  -webkit-box-shadow: 0 2px 5px 0 #999999;
  box-shadow: 0 2px 5px 0 #999999;
}
.column1 {
  margin-left: 1%;
  margin-right: 1%;
  width: 27%;
}
.column2 {
  margin-left: 1%;
  margin-right: 1%;
  width: 56%;
}
.row4.column3 {
  margin-left: 7%;
  margin-right: 7%;
}
.column3 + .column1 {
  margin-left: 7%;
}

.section-container.row4 > div {
  padding: 0;
  position: relative;
  width: auto;
}
.section-container div.title {
  font-weight: bold;
  margin-bottom: 10px !important;
}
.section-container .sub-title {
  font-size: 28px;
  line-height: 125%;
  margin-bottom: 10px;
}

/* Text plus image content type. */
.text-and-image .image {
  float: left;
}
.text-and-image .sub-title,
.text-and-image .body {
  overflow: hidden;
}

/* Article list. */
.carousel-ct-container {
  width: 92%;
}
.carousel-ct-bodycontent {
  background-color: #e9eef0;
}
.carousel-tpl {
  padding: 0 10px;
}
.carousel-tpl .title {
  font-size: 28px;
}

/* Rss content type. */
.rss-ct-container {
  background: none !important;
}
.rss-ct .rss-item .image {
  display: block;
  float: none;
}

/* Vertical ticker. */
.rss-ct.vertical-ticker {
  font-size: 22px;
}
.rss-ct.vertical-ticker .title {
  font-size: 25px;
  margin-bottom: 5px;
}
.rss-ct.extended-vertical-ticker .tab,
.rss-ct.vertical-ticker .rss-item {
  border-bottom: 1px solid #9c9c9c;
  display: block;
  margin-bottom: 15px !important;
  padding-bottom: 15px;
}
.rss-ct.vertical-ticker .rss-item:last-child {
  border-bottom: none;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.rss-ct.extended-vertical-ticker .tabs {
  margin: 0 20px 0 0;
}
.rss-ct.extended-vertical-ticker .tab.active {
  border-color: transparent;
  border-bottom: 1px solid #9c9c9c;
}
.rss-ct.extended-vertical-ticker .tab .bg {
  display: none !important;
}
.rss-ct.extended-vertical-ticker .tab .date {
  font-size: 16px;
}
.rss-ct.extended-vertical-ticker .tab .title {
  font-size: 30px;
  line-height: 100%
}
.rss-ct.extended-vertical-ticker .tab.active .title {
  text-decoration: underline;
}
.rss-ct.extended-vertical-ticker .panel {
  text-align: left;
}
.rss-ct.extended-vertical-ticker .panel .teaser-wrapper {
  position: static !important;
}
.rss-ct.extended-vertical-ticker .panel .teaser-bg {
  display: none;
}
.rss-ct.extended-vertical-ticker .panel .teaser {
  padding: 0;
  text-align: left;
}

/* Rss single carousel. */
.rss-ct.single-carousel {
  margin: -2px -20px 0;
  position: relative;
  top: -4%;
}
.rss-ct.single-carousel .rss-item .content {
  margin-left: 20px;
  margin-right: 20px;
}
.rss-ct.single-carousel .rss-item .image {
  width: 100%;
}
