@font-face {
  font-family: 'PT Serif Caption';
  src: url('../fonts/PT_Serif-Caption-Web-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PT Sans Narrow';
  src: url('../fonts/PT_Sans-Narrow-Web-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: bold;
  font-family: 'PT Sans Narrow';
  src: url('../fonts/PT_Sans-Narrow-Web-Bold.ttf') format('truetype');
}

/* Spinner. */
.spinner {
  width: 16px;
  height: 16px;
  background: url(../img/spinner.gif);
}

/* Close button. */
.close-button-release {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  background: url(../img/closebox.png);
  cursor: pointer;
}

.close-button-onpress {
  position: absolute;
  top: -7px;
  right: -6px;
  width: 22px;
  height: 22px;
  background: url(../img/closebox.gif);
  cursor: pointer;
}

/* Grid */
.column1 {
  margin-right: 1%;
  margin-left: 1%;
  width: 27%;
}

.column2 {
  margin-right: 1%;
  margin-left: 1%;
  width: 56%;
}

.row1 {
  height: 15.6%;
}

.row2 {
  height: 32.3%;
}

.row3 {
  height: 49%;
}

.row4 {
  height: 65.6%;
}

.row5 {
  height: 82.3%;
}

.row6 {
  height: 99%;
}

.section-container {
  float: left;
  overflow: hidden;
  margin: 0.5%;
}

.section-container.row1 {
  margin-right: 0;
  margin-left: 0;
}

.section-container.column3 {
  float: none;
  clear: both;
}

.row4.column3 {
  margin-right: 7%;
  margin-left: 7%;
}

.column3 + .column1 {
  margin-left: 7%;
}

.section-container.row4 > div {
  position: relative;
  padding: 0;
  width: auto;
}

/* Theme main styles */
body {
  background: url('../img/screen-bg.jpg') no-repeat center;
  color: #252525;
  font-size: 22px;
  font-family: 'PT Sans Narrow', sans-serif;
}

/* Header styles */
.header-ct-container {
  position: relative;
  background: #803789;
  background: -webkit-gradient(linear, left top, left bottom, from(#803789), to(#51185d));
  background: -moz-linear-gradient(top,  #803789,  #51185d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#803789', endColorstr='#51185d');
}

.section-container div.title {
  margin-bottom: 10px !important;
  font-weight: bold;
}

.section-container .sub-title {
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 125%;
}

/* Logo */
#Header {
  display: block;
  margin: 0 7%;
  padding-bottom: 25px;
  height: 85px;
  background: url('../img/logo.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  text-indent: -900px;
  direction: ltr;
}

/* Slogan */
#Header .text {
  margin: 5px 0 0 286px;
  color: #000;
  text-shadow: #445977 0 2px 0;
  font-size: 36px;
  font-family: 'PT Serif Caption', serif;
  line-height: 70px;
}

/* Search button */
.search {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  float: right;
  width: 113px;
  height: 88px;
  background: url('../img/search-icon.png') no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}

/* Footer */
.footer-ct-container {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding-top: 10px;
  width: 100%;
  height: 80px;
  background: url('../img/footer-bg.png') repeat-x 0 bottom;
}

#Footer {
  margin-top: 10px;
  padding-left: 160px;
  height: 60px;
  background: url('../img/clocks-icon.png') no-repeat 85px center;
  color: #fff;
  font-size: 30px;
  line-height: 60px;
}

#Footer #countdown-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  border: 1px solid #e2e7ec;
  background: #637179;
}

/* Countdown*/
.count-down-bar {
  position: absolute;
  bottom: 81px;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 6px;
  border: 1px solid #4a5660;
  background-color: #fff;
  text-indent: -1000em;
}

.column3.row1 div.rss-ct-container,
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding-top: 10px;
    width: 100%;
    height: 80px;
    background: url('../img/footer-bg.png') repeat-x scroll 0 bottom transparent !important;
}

/* Horizontal ticker */
.horizontal-ticker {
  padding-top: 20px;
  color: #fff;
  font-size: 30px;
}

.section-container.row4 {
  border: 1px solid #a1b0b9;
  background-color: rgba(255, 255, 255, 1) !important;
  -webkit-box-shadow: 0 2px 5px 0 #999;
  -moz-box-shadow: 0 2px 5px 0 #999;
  box-shadow: 0 2px 5px 0 #999;
}
